<h1>Chama Test 1 Ruby on Rails</h1>
<a href="http://chamarticles.blogspot.com/" target="_blank">
<img src="https://lh6.googleusercontent.com/-lwYRDdlVntA/Tk3k2H2wBHI/AAAAAAAAAlU/7PJ2TUVp0oQ/s144/PC120037.JPG" style="border: none"></a>
<p>Find me in my <a href="http://chamarticles.blogspot.com/" target="_blank">blog</a>
</p>
